div{
    width: 50px;
    height: 50px;
    margin: 10px;
    display:inline-block;
}

.linea1{
    background-color: lightblue;
}

.linea1 div{
    cursor: crosshair;
}

.linea2{
    background-color: lightcoral;
}

.linea2 div{
    width: 100px;
    cursor: cell;
}

.linea3{
    background-color: lightgoldenrodyellow;
}

.linea3 div{
    border-radius: 25px;
    cursor: grab;
}

#uno{
    background-color: red;
}

#dos{
    background-color: green;
}

#tres{
    background-color: yellow;
}

#cuatro{
    background-color: orange;
}

#cinco{
    background-color: blue;
}